/* Estilos para o elemento <nav> (barra de navegação principal) */
nav
{
    display: flex; /* Layout em linha */
    justify-content: space-between; /* Espaça os elementos nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    line-height: 0; /* Remove espaço vertical extra */
    padding-block: 20px; /* Espaçamento acima e abaixo */
}

/* Estilos para a lista de navegação */
nav ul
{
    display: flex; /* Alinha itens em linha */
    list-style: none; /* Remove marcadores de lista */
    align-items: center; /* Centraliza verticalmente */
    gap: 16px; /* Espaço entre os itens */
}

/* Espaçamento interno para os links intermediários do menu */
nav ul li:not(:first-child):not(:last-child) a
{
    padding: 4px;
}

/* Espaçamento interno para o primeiro item (lupa) */
nav ul li:first-child
{
    padding: 4px;
}

/* Estilos para a imagem do perfil (avatar) no último item do menu */
nav ul li:last-child img
{
    width: 40px;
    height: 40px;
    object-fit: cover; /* Garante que a imagem cubra a área definida */
    border-radius: 50%; /* Deixa a imagem circular */
}